@import url(https://fonts.googleapis.com/css?family=Merriweather:700);


body {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5em;
}

h2, h3, h4, h5 {
  font-family: Helvetica, Arial, sans-serif;
  color: #302B2B;
  font-weight: 400;
}

h1, h2, h3 {
  em {
    font-size: 12px;
    display: block;
    color: grey;
    padding-top: 4px;
    font-weight: normal;
  }
}

h1 {
  font-size: 2.369em;
  color: #D03E39;
  margin: 0; padding: 0 0 32px 0;
}

h2 {
  font-size: 1.777em;
  margin: 0; padding: 0 0 16px 0;
}

h3 {
  font-size: 1.333em;
  margin: 0; padding: 0 0 10px 0;
}

h4 {
  font-size: 1em;
  margin: 0; padding: 0;
}

h5 {
  font-size: 1em;
  margin: 0; padding: 0;
}

p {
  margin-top: 0;
  margin-bottom: 1.5em;
  color: #534d4d;
}


p + h3 {
  margin-top: 32px;
}

.sidebar {
  h3 {
    color: #3ec0ea;
  }

  p {
    color: #a8a2a2;
  }
}
