{% extends 'base.html' %}

{% block content %}

  <div class="hero" style="background-image: url('/img/home_hero_1.jpg')">
    <div class="payload">
      <img src="img/leader.png" />
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-8">

        <div class="paper" style="margin-top: 0;">
          {% for post in newsposts %}
            <div class="newspost">
              <h2><a href="{{ post.path.href }}">{{ post.title }}</a></h2>
              {{ post.contents|safe }}
            </div>
          {% endfor %}
        </div>

      </div>

      <div class="col-md-4">
        <div class="sidebar">
          <h3>Upcoming</h3>
<p>
          Summer Tavern Hero Qualifier #2 <strong>and</strong> Open Series Of Hearthstone<br />Saturday July 9th<br />
        <a href="http://amsterdamhearthstone.nl/fireside/">Register Here</a>
        </p>
        <p>
        </p>
        <p>Fireside Gathering #14<br />
          Saturday September 3rd<br />
          <em>Registration opens early August</em></p>
        </p>
        <p>
        </p>
        <p>Fireside Gathering #15<br />
          Saturday October 1st<br />
          <em>Registration opens early September</em></p>
          <h3>Keep in touch</h3>
          <p>
          <a href="https://www.facebook.com/amsterdamhearthstone/">Facebook</a><br />
          <a href="about/mailing.html">Join mailing list</a>
          </p>
        </div>
      </div>
    </div>

  </div>

{% endblock %}
