{% extends 'base.html' %}

{% block content %}

  <div class="hero" style="background-image: url('/img/home_hero_1.jpg')">
    <div class="payload">
      <img src="img/leader.png" />
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-8">

        <div class="paper" style="margin-top: 0;">
          {% for post in newsposts %}
            <div class="newspost">
              <h2><a href="{{ post.path.href }}">{{ post.title }}</a></h2>
              {{ post.contents|safe }}
            </div>
          {% endfor %}
        </div>

      </div>

      <div class="col-md-4">
        <div class="sidebar">

<h3>Upcoming online events</h3>
<p><a href="http://amsterdamhearthstone.nl/ahl/#online">List online tournaments</a></p>

<h3>Upcoming Fireside Gatherings</h3>
  <p>AHL Fireside #1<br />
Saturday January 6 2018<br /></p>
<iframe src="https://battlefy.com/embeds/join/5a198573e4b69f0349d78473" title="AHL Fireside #1" width="186" height="60" scrolling="no" frameborder="0"></iframe>
<p></p>
  <p>World Championship in Amsterdam<br />
January 18-21 <br />
<a href="https://news.blizzard.com/en-gb/hearthstone/21108461/the-2017-hct-world-championship-is-headed-to-amsterdam">Tickets</a>
</p>
  <p>AHL Fireside #2<br />
Saturday February 3 2018<br /></p>
<iframe src="https://battlefy.com/embeds/join/5a198b9fcd42d9034bc1d622" title="AHL Fireside #2" width="186" height="60" scrolling="no" frameborder="0"></iframe>

<h3>Mailing list</h3>
<p>
<a href="about/mailing.html">Join our mailing list</a>
</p>
        </div>
      </div>
    </div>

  </div>

{% endblock %}
